/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    background-color: #008080;
    color: #333;
    margin: 0;
    padding: 0;
}

.main {
    padding: 0 20vw;
}

.header {
    background-color: #006666;
    color: white;
    padding: 10px 20vw 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header small {
    font-size: 16px;
    color: #ccc;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.info {
    background-color: #66cccc;
    padding: 20px;
    text-align: center;
}

.container {
    background-color: #00a3a3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.box {
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.box-link {
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}


#protokolle {
    background-color: #ff704d;
}
#rechnungen {
    background-color: #a67c52;
}
#finanzen {
    background-color: #ffd700;
}
#adressbuch {
    background-color: #66cc66;
}
#protokolle:hover, 
#rechnungen:hover, 
#finanzen:hover, 
#adressbuch:hover {
    background-color: rgb(78, 78, 78); /* Hover background color */
    cursor: pointer; /* Pointer cursor */
}

.content {
    padding: 20px;
}
.finance-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.finance-options button {
    background-color: #004c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.finance-section {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #004c4c;
    color: white;
}

.register-box {
    grid-column: span 2; /* Makes the register box span across both columns */
}

input[type="text"], input[type="password"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

/* Allgemeine Button-Stile */
.button1 {
    background-color: #004c4c; /* Farbe des Buttons */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none; /* Für Links, die wie Buttons aussehen */
}

.button1:hover {
    background-color: #003333; /* Farbe beim Hover-Effekt */
}

/* Container-Stile für das Formular */
.container {
    background-color: #00a3a3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* Abstände zwischen Formular-Elementen */
.container form {
    margin-top: 20px;
}
