<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intranet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="main">

        <div class="header">
            <div w3-include-html="google.com"></div>
            <h1>Intranet <small>is love, is life</small></h1>
            <nav>
                <a href="#">Protokolle</a>
                <a href="#">Adressbuch</a>
                <a href="/finance">Finanzen</a>
                <a href="#">Getränke</a>
                <div class="user-icon"></div>
            </nav>
        </div>
        <div class="container">
            <form method="post" action="/login">
                <input class="inputfield" type="text" name="username" placeholder="Username"><br>
                <input class="inputfield" type="password" name="password" placeholder="Password"><br>
                <input class="button1" type="submit" value="Login">
            </form>
        </div>

    </div>
    
</body>
</html>
