{% extends "layout.html" %}
{% block content %}
    <div class="main">

        
        <div class="info">
            <p>Oh hi Peter!</p>
        </div>
        <div class="container">
            <div class="box protokolle">
                <a href="/protocols" class="box-link">
                    <h2>Protokolle</h2>
                    <p>Noch nicht bereit: 1.<br>Bereit zum Abstimmen: 2.</p>
                </a>
            </div>
            <div class="box rechnungen">
                <a href="/invoice" class="box-link">
                    <h2>0,00 €</h2>
                    <p>Offene Rechnungen</p>
                </a>
            </div>
            <div class="box finanzen">
                <a href="/finance" class="box-link">
                    <h2>Finanzanträge</h2>
                    <p>Offen: 1.</p>
                </a>
            </div>
            <div class="box adressbuch">
                <a href="/adressbook" class="box-link">
                    <h2>Adressbuch</h2>
                </a>
            </div>
        </div>

    </div>
    
</body>
</html>
